* {
  font-size: 16px;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

header {
  display: flex;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 40px;
  height: 150px;
  background-color: #7a00cc;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: whitesmoke;
}

header a:visited {
  color: yellow;
}

#headerTitle {
  font-size: 48px;
  padding: 16px;
  margin: 16px;
  color: whitesmoke;
  font-weight: bold;
}
#highScoreButton {
  display: block;
  font-size: 26px;
  padding: 5px;
  margin: auto;
  text-align: center;
}

#highScoreButton:hover {
  background-color: #7a00cc;
  color: whitesmoke;
}

#scores {
  display: block;
  margin: 60px;
  justify-content: center;
}

#scores li {
  text-align: center;
  font-size: 24px;
}

#mainTitle {
  font-size: 48px;
  font-weight: 600;
}
h1 {
  font-size: 48px;
  margin: auto;
  padding: 10px;
  width: 50%;
  text-decoration: underline black;
  text-align: center;
}

h2 {
  font-size: 26px;
  padding: 32px;
  margin: auto;
  width: 75%;
  text-align: center;
}

p {
  font-size: 26px;
  text-align: center;
}

#timer {
  display: block;
  text-align: center;
  margin: auto;
  width: 50%;
  font-size: 32px;
  color: red;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#startButton {
  display: block;
  font-size: 26px;
  padding: 5px;
  margin: auto;
  width: 50%;
  text-align: center;
}
#startButton:hover {
  background-color: #7a00cc;
  color: whitesmoke;
}

button:hover {
  background-color: salmon;
}

#button1,
#button2,
#button3,
#button4 {
  background-color: thistle;
  display: block;
  font-size: 26px;
  margin: 20px 20px 20px 50px;
  padding: 10px;
}

#button1:hover,
#button2:hover,
#button3:hover,
#button4:hover {
  background-color: salmon;
}

#container {
  border: violet;
  border-style: solid;
  display: block;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#initialForm {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 50px;
}

#quizHolder {
  text-align: center;
  font-size: 32px;
  margin: 10px;
  padding: 10px;
}
#buttonDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}
#scoreSubmit {
  display: block;
  background-color: #7a00cc;
  color: whitesmoke;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#answer {
  font-size: 24px;
  text-align: center;
  color: grey;
  padding: 20px;
  margin: 20px;
}

#gameOver {
  display: block;
  justify-content: center;
  align-items: center;
}

#messageDiv {
  display: block;
  justify-content: center;
}
#messageDiv h3 {
  text-align: center;
  padding: 0px 20px;
}
#scoreitems {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: block;
  text-align: center;
}

#homeReturn {
  display: block;
  margin: auto;
  padding: 10px;
  width: 50%;
  font-size: 24px;
}
